@import 'vars';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

input,
button {
    font-family: inherit;
}

button {
    cursor: pointer
}

button:hover {
    background: black;
    color: $color-text;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.up {
    border-top: 0.5px solid rgb(202, 205, 216);
}

.top {
    background-image: url(../images/Back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 735px;

    &__header {
        position: relative;
        height: 76px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
    }
    &__menu-mobile {
        display: none;
    }

    &__search {
        width: 288px;
        height: 41px;
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 20px;
        background: transparent;
        color: $color-text;
        padding: 0px 17px;

        &::placeholder {
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;

        }
    }
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 32px;


    &__links {
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__window {
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-decoration: none;
        position: relative;
        display: block;

        &:hover {
            text-decoration: underline;
        }

        &:hover .menu__cart {
            display: block;
        }
    }

    &__cart {
        display: none;
        position: absolute;
        background-color: $color-text;
        padding: 40px 48px;
        min-width: 573px;
        top: 66px;
        right: 0px;

        &__bridge {
            position: absolute;
            background: transparent;
            height: 56px;
            width: 270px;
            top: -53px;
            right: 0px;
        }

        &__product {

            max-width: 786px;
            display: flex;
            justify-content: space-between;
            padding: 24px 0px;


            &__count-box {
                position: relative;
            }

            &__imgup {
                position: absolute;
                display: flex;
                flex-direction: column;
                right: 3px;
                top: 6px;
                border: none;
                background: #F7F6F6;


            }

            &__imgdown {
                position: absolute;
                display: flex;
                flex-direction: column;
                right: 3px;
                top: 27px;
                border: none;
                background: #F7F6F6;

            }

            &__count {
                position: relative;
                color: rgb(0, 0, 0);
                font-size: 14px;
                font-weight: 600;
                line-height: 210%;
                text-align: center;
                width: 71px;
                height: 51px;
                border-radius: 6px;
                border: none;
                background: #F7F6F6;
                cursor: pointer;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }



            &__box {
                display: flex;
                gap: 32px;
                justify-content: space-between;

                &__description {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    &__heading {
                        color: rgb(0, 0, 0);
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 29px;

                    }

                    &__price {
                        color: rgb(5, 5, 5);
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 20px;
                    }

                    &__button-box {
                        display: flex;
                        gap: 30px;


                        &__button {
                            color: rgb(0, 0, 0);
                            font-size: 14px;
                            font-weight: 400;
                            text-decoration: underline;
                            background: none;
                            border: none;


                            &:active {
                                text-decoration: none;
                            }
                        }

                    }
                }
            }
        }



        &__box {
            display: flex;
            align-items: center;
            justify-content: space-between;


            &__info {
                display: flex;
                gap: 11px;


                &__heading {
                    color: rgb(0, 0, 0);
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 29px;

                }

                &__price {
                    color: rgb(0, 0, 0);
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 29px;

                }
            }

            &__button {

                box-sizing: border-box;
                border: 1px solid rgb(4, 4, 4);
                background: transparent;
                border-radius: 50px;
                width: 207px;
                height: 40px;

                color: rgb(0, 0, 0);
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;


                &:active {
                    background: gray;
                }
            }
        }
    }

}


.internal-links {
    color: rgb(136, 136, 136);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;

    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

}

.slogan {
    &__head {
        padding-top: 64px;
        padding-bottom: 16px;
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 600;
        line-height: 70px;

        max-width: 767px;


    }

    &__paragraphs {
        padding-bottom: 16px;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;

    }

    &__links-catalog {
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        text-decoration-line: underline;
    }
}

.for-box {
    padding-top: 64px;

    &__heading {
        color: rgb(0, 0, 0);
        font-size: 48px;
        font-weight: 600;
        line-height: 59px;
    }

    &__cards {
        margin-top: 32px;
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(12, 1fr);    
    }
    &__item {
        display: flex;
        height: 415px;
        grid-column: span 4;
        color: rgb(255, 255, 255);
        font-size: 34px;
        font-weight: 600;
        line-height: 41px;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &__big {
            grid-column: span 6;
        }

        &__1 {
            background-image: url(../images/Relax.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &__2 {
            background-image: url(../images/Working.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &__3 {
            background-image: url(../images/Kitchen.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &__4 {
            background-image: url(../images/Children.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &__5 {
            background-image: url(../images/Bathroom.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}

.product {
    &__header__so {
        color: rgb(0, 0, 0);
        font-size: 48px;
        font-weight: 600;
        line-height: 59px;

        padding-top: 64px;
        padding-bottom: 32px;
    }

    &__header {
        color: rgb(0, 0, 0);
        font-size: 48px;
        font-weight: 600;
        line-height: 59px;

        padding-top: 78px;
        padding-bottom: 32px;
    }

    &__content {
        display: flex;
        gap: 48px 32px;
        flex-wrap: wrap;

        &__box {
            width: 378px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            position: relative;

            &__img {
                width: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            &__header {
                color: rgb(0, 0, 0);
                font-size: 24px;
                font-weight: 500;
                line-height: 29px;

                padding-top: 10px;
                padding-bottom: 9px;
                text-decoration: none;
            }

            &__description {
                font-size: 14px;
                line-height: 17px;
                color: #888888;
                padding-bottom: 12px;

            }

            &__price-box {
                display: flex;
                gap: 32px;
                justify-content: flex-start;

                &__price {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    color: #050505;
                }

                &__old-price {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    text-decoration-line: line-through;
                    color: #888888;
                }
            }

            &__icons {
                position: absolute;
                display: none;
                top: 10px;
                right: 10px;
                gap: 20px;
            }

            &:hover .product__content__box__icons {
                display: flex;
            }
        }
    }

}

.linksBox {
    padding-top: 39px;
    padding-bottom: 64px;

    &__catalog-link {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;


        &:hover {
            text-decoration: none;
        }
    }

}

.footer {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 32px;
    padding-bottom: 32px;
    background: rgb(247, 246, 246);

    &__menu {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: gray;
        text-decoration: none;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;


        &__header {
            color: rgb(0, 0, 0);
            font-size: 24px;
            font-weight: 500;
            line-height: 29px;

        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;

        &__logo {
            color: rgb(0, 0, 0);
            font-size: 24px;
            font-weight: 500;
            line-height: 29px;

        }

        &__support {
            text-decoration: none;
            color: rgb(136, 136, 136);
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;

            &:hover {
                text-decoration: underline;
            }
        }

        &__links {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;

            &__logo {
                text-decoration: none;
                flex: none;
                order: 0;
                flex-grow: 0;

                &__imgVk {
                    background-color: transparent;

                    &:hover {
                        content: url(../images/vk-black.svg);
                    }

                }

                &__imgTe {
                    background-color: transparent;

                    &:hover {
                        content: url(../images/Te-black.svg);
                    }

                }

                &__imgYa {
                    background-color: transparent;


                    &:hover {
                        content: url(../images/Ya-black.svg);
                    }

                }



            }
        }
    }
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;

    gap: 12px;

    &__header {
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }

    &__input-email {
        box-sizing: border-box;
        border: 1px solid rgb(196, 196, 196);
        border-radius: 16px;
        background: rgb(255, 255, 255);
        width: 260px;
        height: 40px;
        padding: 0px 17px;

        &::placeholder {
            color: rgb(196, 196, 196);
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;

        }
    }

    &__subscribe-button {
        background: rgba(222, 215, 215, 0.41);
        border: 1px solid $color-text;
        box-sizing: border-box;
        border-radius: 20px;
        width: 260px;
        height: 40px;
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }
}



@import 'catalog';
@import 'cart';
@import 'tablet';
@import 'mobile'